
# Database Configuration
DB_URL=DB_URL
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# Spring Security
SPRING_SECURITY_USERNAME=SPRING_SECURITY_USERNAME
SPRING_SECURITY_PASSWORD=SPRING_SECURITY_PASSWORD

# JWT Configuration
JWT_ISSUER_URI=JWT_ISSUER_URI
